* {
    box-sizing: border-box;
  }

body, p {
    padding: 0;
    margin: 0;
}

button {
    width: 80px;
    height: 40px;
    margin: 5px;
    font-family: 'ABeeZee';
    font-size: 16pt;
    font-weight: bold;
    border-radius: 7px;
    background-color: whitesmoke;

}

button.function,
button.operation.lighter 
{
	font-weight: normal;
}


button.function {
	background-color: #DF1922;
	color: whitesmoke;
}


#main {
    background-color: grey;
    padding-top: 50px;
    height: 800px;
    
}


#calculator {
    width: 440px;
    margin: 0 auto;
    background-color: darkgrey;
    padding: 20px;

    border-top: #ccc 3px solid;
	border-right: #ccc 3px solid;
	border-bottom: #777 3px solid;
	border-left: #777 3px solid;
}

#calculator > div {
	padding: 10px;
	margin-bottom: 15px;
}

#display {
    height: 100px;
    background-color: rgb(76, 79, 82);
    border-radius: 12px;
}

.glass{
	width: 375px;
	height: 50px;
	background-color: rgb(200, 200, 170);
	padding: 5px;
	margin: auto;
}


#display p {
	margin: 10px 0 0 8px;
	font-family: 'Russo One';
}

#panel {
    background-color: #21302F;
    border-radius: 12px;
}


/*input field which displays results  */
#result {
    text-align: right;
    font-family: 'orbitron';
    font-size: 20pt;
    width: 365px;
    border: none;
    padding: 3px 10px;
    opacity: 0.7;
    outline: none;
}

.glass:after {
    content: '';
    position: absolute;
    top: 86px;
    width: 365px;
    height: 6%;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.1));
}

#solar {
	width: 100px;
	height: 33px;
	background-color: black;
	display: inline-block;
	float: right;
	margin: 6px 30px 0 0;
	font-size: 20pt;
}

.groove {
    border: 3px solid black;
    height: 35px;
    background-color: darkgoldenrod;
}


.groove div {
	border-left: 1px solid black;
    height: 32px;
    display: inline-block;
    margin-left: 23px;
}



#solar:after {
    content: '';
    position: absolute;
    top: 201px;
    width: 100px;
    height: 6%;
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.1));
}



#keypad {
	background-color: silver;
	border-radius: 1px;
	border-bottom: #ccc 1px solid;
	border-left: #ccc 1px solid;
	border-top: #777 1px solid;
	border-right: #777 1px solid;
}


@media (max-width: 600px) {

	#calculator {
		width: 320px;
	}

	#display {
		height: 87px;
	}

	.glass {
		width: 255px;
		height: 41px;
	}

	.glass:after {
		width: 244px;
	}

	button {
		width: 50px;
	    height: 35px;
	    font-size: 14pt;
	}


	#solar:after {
		top: 190px;
	}


	#result {
		width: 244px;
		font-size: 16pt;
	}

}
